{% extends './base.html' %} {% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> -->
<div class="row">
  <h1>This lists all my artists</h1>
</div>
<div class="artists_list">
    {% for artist in artists %}
      <div>
        <a href={% url 'detail' artist.primary_key %}> {{  artist.primary_key }}
          {{ artist.artist_name|upper }}
        </a>  
        <!-- <a href="#">
          {{ artist.artist_name|upper }} is {{ artist.first_name }} {{ artist.last_name }}
        </a>   -->
      </div> 
    {% endfor %}
</div>
<div>
  <br>
  <a href={% url 'list' %}>songs</a>
</div>
<!-- </body>
</html> -->

{% endblock %}

<div class="artists"> 
  <a>{{ artists.first_name }}</a> 
</div>
